.login-footer,
.signup-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .75);
}

.login-footer-container,
.signup-footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 30px;
  font-size: 18px;
  color: #8c8c8c;
}

.login-footer-container a,
.signup-footer-container a {
  cursor: pointer;
  color: #8c8c8c;
  text-decoration: none;
}

.login-footer-container a:hover,
.signup-footer-container a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 30px;
}

.footer-link-item {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 16px;
  min-width: 100px;
  padding: 0 12px 0 0;
  vertical-align: top;
  width: 25%;
  font-size: 13px;
}

@media screen and (max-width: 650px) {
  .footer-link-item {
      width: 50%;
  }
}