* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  padding: 0 60px;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

/* Left Side */
.header .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
} 
    /* Logo */
    .left-side .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* First Nav */
    .left-side .nav {
      margin: 0 20px;
    }

    .nav .nav-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav .nav-list .nav-item {
      margin: 0 10px;
      cursor: pointer;
      color: #fff;
    }

/* Right Side */
.header .right-side {
  display: flex;
  align-items: center;
}

  .right-side .search-icon {
    margin-right: 40px;
  }

  /* Right Side Settings */
  .right-side .settings {
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .settings .profile-icon {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      margin: 10px;
    }




