@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #141414;
}

/* Main View */
.main-view {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Header */
.header {
  padding: 0 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  z-index: 5;
}

/* Left Side */
.header .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.left-side .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side .logo .logo-icon {
  cursor: pointer;
}

/* First Nav */
.left-side .nav {
  margin: 0 20px;
}

.nav .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .nav-list .nav-item {
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
}

.nav .nav-list .nav-item:hover {
  color: #b3b3b3;
}

/* Right Side */
.header .right-side {
  display: flex;
  align-items: center;
}

.right-side .search-icon {
  margin-right: 20px;
  cursor: pointer;
}

.right-side .child-link {
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

.right-side .notification-icon {
  margin-right: 20px;
  cursor: pointer;
}

/* Right Side Settings */
.right-side .settings {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.settings .profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
}

/* Trailer */
.trailer {
  width: 60%;
}

.trailer .movie-photo {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.trailer .movie-details {
  padding: 15% 60px;
}

@media screen and (max-width: 850px) {
  .movie-logo {
    width: 300px;
    height: 150px;
  }

  .movie-info {
    width: 300px !important;
  }
}

@media screen and (max-width: 800px) {
  .movie-logo {
    width: 200px;
    height: 100px;
  }

  .movie-info {
    width: 250px !important;
  }

  .btn {
    padding: 0;
  }

  .btn-text {
    font-size: 10px !important;
    padding: 15px 5px !important;
  }
}

@media screen and (max-width: 600px) {
  .movie-logo {
    width: 150px;
    height: 100px;
  }

  .movie-info {
    width: 200px !important;
  }

  .btn {
    padding: 0;
  }

  .btn-text {
    font-size: 10px !important;
    padding: 5px 5px !important;
  }
}

.trailer .movie-details .movie-info {
  margin-top: 20px;
  color: #fff;
  width: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
  line-height: normal;
  font-size: 1.4vw;
  font-weight: 400;
}

.trailer .movie-details .movie-buttons {
  display: flex;
  margin-top: 30px;
}

.movie-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.movie-buttons .btn-play {
  background-color: #fff;
  color: #000;
}

.movie-buttons .btn-play:hover {
  background-color: #cbc7c4;
}

.movie-buttons .btn-text {
  margin: 0;
  font-size: 24px;
  padding: 10px 0 10px 10px;
  font-weight: 600;
}

.btn-info {
  margin-left: 10px;
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
}

.btn-info:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

/* Sliders */
.container {
  background-color: #141414;
  margin: 20px 0;
  padding: 10px 0 10px 60px;
}

.slider {
  padding: 0 30px 0 30px;
  overflow: hidden;
  position: relative;
}

.movie-header {
  color: #e5e5e5;
  cursor: pointer;
  margin-bottom: 15px;
  padding-left: 30px;
}

.prew-arrow {
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-arrow {
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 220px;
  /* height: 125px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

/* Footer */
.footer {
  color: grey;
  margin: 20px auto 0;
  margin-bottom: 30px;
  max-width: 980px;
  padding: 0 4%;
}

/* Footer Social Links */
.footer-social-links {
  margin: 50px 0;
}

.footer-social-list {
  display: flex;
  list-style: none;
}

.footer-social-item {
  margin: 0 30px;
  cursor: pointer;
}

/* Footer Member Links */
.footer-member-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0 0 14px;
  padding: 0;
}

.footer-member-item {
  flex: 0 0 25%;
  list-style-type: none;
  margin-bottom: 16px;
  font-size: 22px;
}

@media screen and (max-width: 760px) {
  .footer-member-item {
    flex: 0 0 50%;
  }
}

.footer-member-link {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.footer-member-link:hover {
  text-decoration: underline;
}

.btn-service {
  font-size: 22px;
  padding: 10px;
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  cursor: pointer;
}

.btn-service:hover {
  border: 1px solid #fff;
  color: #fff;
}

.footer-copyright {
  margin-top: 20px;
}

.login {
  position: relative;
  height: 140vh;
  width: 100%;
}

.login::before {
  content: "";
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/069f4301-2894-4ecd-b599-eea8a1997317/TR-tr-20230724-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.login-header {
  display: block;
  position: relative;
  padding: 10px 40px;
}

.login-body {
  position: relative;
  margin: 0 auto -236px;
  max-width: 450px;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
}

.login-form {
  padding: 60px 68px 40px;
}

.input-container input {
  color: #fff;
  margin: 20px 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background: #333;
  border: none;
  border-radius: 5px;
  padding: 16px 20px 0;
}

.input-container input:focus {
  outline: none;
}

.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s;
  color: #8c8c8c;
}

.input-container .label-shrink {
  top: 5px;
  font-size: 12px;
  color: #8c8c8c;
}

.btn-login {
  margin-top: 30px;
  color: #fff;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  background: #e50914;
  border: none;
  border-radius: 5px;
}

.login-help {
  margin-top: 15px;
  display: flex;
  font-size: 13px;
  color: #b3b3b3;
}

.login-help .login-remember {
  display: flex;
  flex-grow: 1;
}

.custom-checkbox {
  position: relative;
  padding: 2px 0 0 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 20px;
  background-color: #737373;
  border-radius: 5px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark::after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked~.checkmark {
  background-color: #fff;
}

.login-help-link {
  padding-top: 2px;
  cursor: pointer;
}

.login-help-link:hover {
  text-decoration: underline;
}

.login-form-other {
  margin-top: 50px;
}

.login-signup {
  color: #8c8c8c;
  font-size: 16px;
}

.login-signup a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.login-signup a:hover {
  text-decoration: underline;
}

.recaptcha {
  margin-top: 20px;
  font-size: 13px;
  color: #8c8c8c;
}

.recaptcha button {
  background-color: transparent;
  border: none;
  color: #0071eb;
  cursor: pointer;
}

.recaptcha button:hover {
  text-decoration: underline;
}

.login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .75);
}

.login-footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  color: #8c8c8c;
  font-size: 18px;
}

.login-footer-container a {
  cursor: pointer;
}

.login-footer-container a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 30px;
}

.footer-link-item {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 16px;
  min-width: 100px;
  padding: 0 12px 0 0;
  vertical-align: top;
  width: 25%;
  font-size: 13px;
}