@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html {
  background-color: #141414;
}

/* Home page main view */
.main-view {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Login and Signup main div */
.main {
  position: relative;
  height: 140vh;
  width: 100%;
}

.main::before {
  content: "";
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/069f4301-2894-4ecd-b599-eea8a1997317/TR-tr-20230724-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

/* Media responsive */
@media screen and (max-width: 850px) {
  .movie-logo {
    width: 300px;
    height: 150px;
  }

  .p-info {
    width: 300px !important;
  }

  .container {
    padding-left: 40px !important;
  }
}

@media screen and (max-width: 800px) {
  .movie-logo {
    width: 200px;
    height: 100px;
  }

  .p-info {
    width: 250px !important;
  }

  .btn {
    padding: 0;
  }

  .p-btn-text {
    font-size: 10px !important;
    padding: 15px 5px !important;
  }

  .container {
    padding-left: 30px !important;
  }

  .header {
    padding: 0 20px !important;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .movie-logo {
    width: 150px;
    height: 100px;
  }

  .p-info {
    width: 200px !important;
  }

  .btn {
    padding: 0;
  }

  .p-btn-text {
    font-size: 10px !important;
    padding: 5px 5px !important;
  }

  .container {
    padding-left: 20px !important;
  }
}

/* Message div */
.warning-message {
  background: #e87c03;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.warning-message p {
  padding: 10px 20px;
}

.success-message {
  background: #15d612;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.success-message p {
  padding: 10px 20px;
}

.success-message a {
  color: #fff;
}